@tailwind base;
@tailwind components;
@tailwind utilities;




.banner-img{
  animation:move 3s infinite ease alternate;
}
@keyframes move{
  from{
      transform: translateY(-10px);
  }
  to{
      transform: translateY(10px);
  }
}

/* globals.css */
.dark {
  background-color: #333; /* Define the background color for dark mode */
   /* Define the text color for dark mode */
}
body {
  /* Light mode styles */
  background-color: #fff;
  color: #333;
}
.dark .navbar {
  background-color: #333; /* Define the background color for the navbar in dark mode */
  color: #fff; /* Define the text color for the navbar in dark mode */
}
.dark .footer {
  background-color: #333; /* Define the background color for the navbar in dark mode */
  color: #fff; /* Define the text color for the navbar in dark mode */
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
